rules_version = '2'; 
service cloud.firestore {
  match /databases/{database}/documents {

    match /clients/{docId} {
      allow create: if true;
      

      allow read, update, delete: if request.auth != null && request.auth.token.email =="tattedbycamie@gmail.com"; 
    }
  }
}